{% extends 'base.html.twig' %}

	{% block title %}Log in!
	{% endblock %}
	
	{% block stylesheets %}
		{{ parent() }}
		<style>
			body {
				padding: 50px;
				font-family: 'Roboto', sans-serif;
				background-color: #F5F5F5;
			}
	
			.signin {
				position: relative;
				height: 700px;
				width: 500px;
				margin: auto;
				box-shadow: 0 30px 125px -5px #000;
			}
	
			.back-img {
				position: relative;
				width: 100%;
				height: 250px;
				background: url('https://img.freepik.com/photos-gratuite/experience-pour-biotechnologie-science-chimie_23-2150365003.jpg?w=2000') no-repeat center center;
				background-size: cover;
			}
	
			.layer {
				background-color: rgba(33, 150, 243, 0.5);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
	
			.active {
				padding-left: 25px;
				color: #fff;
			}
	
			.nonactive {
				color: rgba(255, 255, 255, 0.6);
			}
	
			.sign-in-text {
				top: 175px;
				position: absolute;
				z-index: 1;
			}
	
			h2 {
				padding-left: 15px;
				font-size: 25px;
				text-transform: uppercase;
				display: inline-block;
				font-weight: 300;
			}
	
			.point {
				position: absolute;
				z-index: 1;
				color: #fff;
				top: 235px;
				padding-left: 50px;
				font-size: 20px;
			}
	
			/* form-section */
			.form-section {
				padding: 70px 90px;
			}
	
			.keep-text {
				font-size: 15px;
				color: #BDBDBD;
			}
	
			.forgot-text {
				font-size: 12px;
				color: #BDBDBD;
				text-align: right;
			}
	
			/* sign-in-btn */
			.sign-in-btn {
				width: 100%;
				height: 75px;
				position: absolute;
				bottom: 0;
				border-radius: 0;
				background-color: rgba(63, 78, 191, 1);
			}
	
			.from-signin {
				border-radius: 3%;
				background-image: linear-gradient(to right bottom, #e3ecfb, #dce4fb, #d7dcfa, #d5d3f8, #d5caf4);
				margin-top: 2rem;
				padding: 1rem;
				box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
			}
		</style>
	{% endblock %}
	
	{% block container %}
		<div class="signin">
			<div class="back-img">
				<div class="sign-in-text">
					<h2 class="active">
						<a href="{{path('app_login')}}">Sign In
						</a>
					</h2>
					<h2 class="nonactive">
						<a href="{{path('app_register')}}">
							Sign Up
						</a>
					</h2>
				</div>
				<div class="layer"></div>
				<p class="point">&#9650;</p>
			</div>
			<div class="form-section">
				<form
					method="post" action="{{ path('app_login') }}">
					<!-- Email -->
					<div class="form-group">
						<label class="form-control-label">Email</label>
						<input class="form-control" type="email" name="email" id="inputEmail" placeholder="Your email" required autofocus>
					</div>
	
					<!-- Password -->
					<div class="form-group">
						<label class="form-control-label">Password</label>
						<input class="form-control" type="password" name="password" id="inputPassword" placeholder="Your password" required>
					</div>
	
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
	
					<p class="forgot-text">Forgot Password?</p>
					<!-- Checkbox -->
					<label class="form-check-label">
						<input class="form-check-input" type="checkbox" name="remember_me" checked>
						<span class="keep-text">Keep me Signed In</span>
					</label>
					<div class="d-grid gap-2">
						<button type="submit" class="btn btn-primary">S'inscrire</button>
					</div>
				</form>
			</div>
		</div>
	{% endblock %}