{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		/* Your registration styles go here */
		body {
			padding: 50px;
			font-family: 'Roboto', sans-serif;
			background-color: #F5F5F5;
		}

		.signin {
			position: relative;
			height: 700px;
			width: 500px;
			margin: auto;
			box-shadow: 0 30px 125px -5px #000;
		}

		.back-img {
			position: relative;
			width: 100%;
			height: 250px;
			background: url('https://img.freepik.com/photos-gratuite/experience-pour-biotechnologie-science-chimie_23-2150365003.jpg?w=2000') no-repeat center center;
			background-size: cover;
		}

		.layer {
			background-color: rgba(33, 150, 243, 0.5);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.active {
			padding-left: 25px;
			color: #fff;
		}

		.nonactive {
			color: rgba(255, 255, 255, 0.6);
		}

		.sign-in-text {
			top: 175px;
			position: absolute;
			z-index: 1;
		}

		h2 {
			padding-left: 15px;
			font-size: 25px;
			text-transform: uppercase;
			display: inline-block;
			font-weight: 300;
		}

		.point {
			position: absolute;
			z-index: 1;
			color: #fff;
			top: 235px;
			padding-left: 50px;
			font-size: 20px;
		}

		/* form-section */
		.form-section {
			padding: 70px 90px;
		}

		.keep-text {
			font-size: 15px;
			color: #BDBDBD;
		}

		.forgot-text {
			font-size: 12px;
			color: #BDBDBD;
			text-align: right;
		}

		/* sign-in-btn */
		.sign-in-btn {
			width: 100%;
			height: 75px;
			position: absolute;
			bottom: 0;
			border-radius: 0;
			background-color: rgba(63, 78, 191, 1);
		}

		.from-signin {
			border-radius: 3%;
			background-image: linear-gradient(to right bottom, #e3ecfb, #dce4fb, #d7dcfa, #d5d3f8, #d5caf4);
			margin-top: 2rem;
			padding: 1rem;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
		}
	</style>
{% endblock %}

{% block container %}
	<div class="signin">
		<div class="back-img">
			<div class="sign-in-text">
				<h2 class="nonactive">
					<a href="{{ path('app_login') }}">Sign In
					</a>
				</h2>
				<h2 class="active">
					<a href="{{ path('app_register') }}">
						Sign Up
					</a>
				</h2>
			</div>
			<div class="layer"></div>
			<p class="point">&#9650;</p>
		</div>
		<div class="form-section">

			{{ form_start(form) }}
			{{ form_widget(form._token) }}

			<form action="{{ path('app_register') }}" method="POST" class="col-lg-12 login-form">
				<div class="mb-3">
					<label for="InputEmail1" class="form-label">Adresse Email</label>
					{{ form_widget(form.email) }}
					<div id="emailHelp" class="form-text">Ne confondez pas votre Adresse email.</div>
				</div>
				<div class="mb-3">
					<label for="InputEmail1" class="form-label">Votre prénom</label>
					{{ form_widget(form.firstname) }}
				</div>
				<div class="mb-3">
					<label for="InputEmail1" class="form-label">Votre nom</label>
					{{ form_widget(form.lastname) }}
				</div>
				<div class="mb-3">
					<label for="InputPassword1" class="form-label">Mot de Passe</label>
					{{ form_widget(form.plainPassword) }}
				</div>
				<div class="mb-3">
					<label for="InputPassword1" class="form-label">Accepter les terms de site</label>
					{{ form_widget(form.agreeTerms) }}
				</div>
				<button type="submit" class="btn btn-primary btn-text-center">S'inscrire</button>
			</form>

			{{ form_end(form) }}
		</div>
		<div class="col-lg-3 col-md-2"></div>
	</div>
</div>
<section
	id="4" style=" background-color: #007bff; color: white; margin-top: 5vh;"><!-- Footer content goes here -->
</section>{% endblock %}
